<div class="search-header">
  <h2 class="search-title">
    <%= __("search.title") %>
    <i class="popup-btn-close iconfont icon-close"></i>
  </h2>
  <div class="search-input-container">
    <input class="search-input" autocomplete="off" autocapitalize="off" maxlength="80" placeholder="<%= __("search.placeholder") %>" spellcheck="false" type="search">
  </div>
  <span class="popup-btn-close" role="button">
    <i class="fa fa-times-circle"></i>
  </span>
</div>
<div class="search-result-container no-result flex flex-column">
  <div class="search-result-icon">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
  </div>
</div>