.divide
  margin: 40px 0
  border-top: 2px dashed $grey-light
.icon-comment
  font-size: 2rem
  font-weight: $blod
  span
    margin-left: 8px
.comment
  size: 100% auto
  margin-top: 20px
  .vpower
    display: none
  .vinput
    &:focus
      border-color: $orange !important
  .vat
  .vnick:hover
    color: $orange !important
  .vbtn
    &:hover
      color: $orange !important
      border-color: $orange !important
  .actived
    fill: $orange !important