.markdown 
  line-height: 36px
  a
    color: $orange

  p
    margin: 8px 0
    line-height: 24px

  h1, h2, h3, h4, h5, h6
    display: flex
    align-items: center
    margin: 0
    color: $whitesmoke
  h2, h3
    position: relative
    padding-left: 14px
  h1
    line-height: 50px
  h2, h3
    line-height: 46px
  h4, h5, h6
    line-height: 40px
  h2::before
  h3::before 
    content: ''
    position: absolute
    left: 0
    width: 6px
    border-radius: 2px
  h2::before
    height: 18px
    background-color: $orange
  h3::before 
    height: 14px
    background-color: #ff6f31
  // h1:target
  // h2:target 
  // h3:target 
  // h4:target 
  // h5:target 
  // h6:target
  //   padding-top: 62px
  //   margin-top: -62px

  ol, ul 
    padding: 0 15px
  ul 
    li 
      list-style: disc
  ol 
    li
      list-style: decimal

  img
    max-width: 100%
    max-height: 100%
    margin: 10px 0
    // margin-left: 50%
    // transform: translateX(-50%)
    object-fit: contain
    cursor: pointer

  blockquote
    margin: 10px 0
    padding: 4px 10px
    border-left: 6px solid #6482f8
    background-color: #434343
    // p
    //   color: $whitesmoke


