<%- partial("_partial/page-header.ejs") %>
<div class="page-message-container">
  <div class="message-wrapper animate__animated animate__fadeInUp">
    <%- partial("_partial/comment.ejs", { show_divide: false, show_header: false }) %>
  </div>
</div>