// A
// B
// C
// D
// E
// E
.ellipsis {
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  word-break: break-all
}

// F
.flex 
  display: flex

.flex-column 
  flex-direction: column

.flex-justify-center 
  justify-content: center

.flex-align-center 
  align-items: center

.flex-space-around 
  justify-content: space-around

.flex-space-between 
  justify-content: space-between

.flex-wrap 
  flex-wrap: wrap

// G
// H
// I
// J
// K
// L
// M
// N
// O

// P
.page-container
  max-width: 100%
  min-height: calc(100% - 120px)

// Q
// R
// S
// T
// U
// V
// W
// X
// Y
// Z