.markdown 
  line-height: 1.85
  a
    color: get-css-var("color", "primary-0")

  p
    margin: 8px 0
    line-height: inherit
    color: inherit

  p:has(img)
    flex-box(column, space-around, center)

  h1, h2, h3, h4, h5, h6
    display: flex
    align-items: center
    margin: 0
    color: get-css-var("color", "on-secondary-container")
  h2, h3
    position: relative
    padding-left: 14px
  h1
    margin: 16px 0
    line-height: 1.8
  h2, h3
    margin: 12px 0
    line-height: 1.6
  h4, h5, h6
    margin: 10px 0
    line-height: 1.4
  h2::before
  h3::before 
    content: ''
    position: absolute
    left: 0
    width: 6px
    border-radius: 2px
    background-color: get-css-var("color", "primary-0")
  h2::before
    top: 7px
    height: 18px
  h3::before 
    top: 6px
    height: 14px
  // h1:target
  // h2:target 
  // h3:target 
  // h4:target 
  // h5:target 
  // h6:target
  //   padding-top: 62px
  //   margin-top: -62px

  ol, ul 
    padding: 8px 15px
    li
      // margin: 4px 0
  ul 
    li 
      list-style: disc
  ol 
    li
      list-style: decimal

  img
    max-width: 100%
    max-height: 100%
    margin: 10px 0
    object-fit: contain
    cursor: pointer

  blockquote
    margin: 10px 0
    padding: 4px 10px
    border-left: 6px solid get-css-var("color", "tertiary-0")
    background-color: get-css-var("color", "secondary-container-low")

  table
    th, td
      padding: 4px 15px
      border: 1px solid get-css-var("color", "on-inverse-secondary-container")

  // custom container
  .info, .tips, .success, .warning, .danger
    margin: 10px 0
    padding: 4px 10px
    border-radius: 4px
    color: get-css-var("color", "secondary-3")
  .info
    background-color: #c2c2c2
    border-left: 6px solid #656565
  .tips
    background-color: #9dd8ff
    border-left: 6px solid #2ca0ed
  .success
    background-color: #baffe0
    border-left: 6px solid #42b983
  .warning
    background-color: #feefa6
    border-left: 6px solid #e7c000
  .danger
    background-color: #ffb9b9
    border-left: 6px solid #cc0000



