// Color
$whitesmoke    = #f5f5f5;
$gainsboro     = #eeeeee;
$grey-lighter  = #dddddd;
$grey-light    = #cccccc;
$grey          = #bbbbbb;
$grey-dark     = #999999;
$grey-dim      = #666666;
$black-lighter = #555555;
$black-light   = #444444;
$black-dim     = #272727;
$black-deep    = #222222;
$black-deeper  = #111111;
$black         = #000000;
$red           = #ff2a2a;
$blue-bright   = #87daff;
$blue          = #0684bd;
$blue-deep     = #262a30;
$purple        = #6482f8
$orange        = #fc6423; // f4a460
$orange-light  = #ffa077;

$border-radius-base = 6px
$page-padding       = 40px 6%
$comment-padding    = 25px

// Font
$blod = 700
