$dark = {
  "background": get-css-var("color", "secondary-0"),
  "secondary-fixed": get-css-var("color", "secondary-13"),
  "secondary-fixed-dim": get-css-var("color", "secondary-7"),
  "secondary-fixed-variant": get-css-var("color", "secondary-6"),

  "secondary-container-highest": get-css-var("color", "secondary-2"),
  "secondary-container-high": get-css-var("color", "secondary-3"),
  "secondary-container": get-css-var("color", "secondary-4"),
  "secondary-container-low": get-css-var("color", "secondary-5"),
  "secondary-container-lowest": get-css-var("color", "secondary-6"),

  "on-secondary-fixed-variant": get-css-var("color", "black-7"),
  "on-secondary-container": get-css-var("color", "secondary-20"),
  "on-inverse-secondary-container": get-css-var("color", "secondary-4"),
  
  "tertiary-variant": rgba(#6482f8, 0.7),
};

$light = {
  "background": get-css-var("color", "secondary-18"),
  "secondary-fixed": get-css-var("color", "secondary-13"),
  "secondary-fixed-dim": get-css-var("color", "secondary-14"),
  "secondary-fixed-variant": get-css-var("color", "secondary-15"),

  "secondary-container-highest": get-css-var("color", "secondary-20"),
  "secondary-container-high": get-css-var("color", "secondary-19"),
  "secondary-container": get-css-var("color", "secondary-18"),
  "secondary-container-low": get-css-var("color", "secondary-17"),
  "secondary-container-lowest": get-css-var("color", "secondary-16"),

  "on-secondary-fixed-variant": get-css-var("color", "secondary-14"),
  "on-secondary-container": get-css-var("color", "secondary-4"),
  "on-inverse-secondary-container": get-css-var("color", "secondary-20"),

  "tertiary-container": get-css-var("color", "tertiary-0"),
  "tertiary-variant": rgba(#6482f8, 0.7),
};

$border-radius-base = 6px
$page-padding       = 40px 6%
$comment-padding    = 25px

// Font
$blod = 700
