.code-block-container
  overflow: hidden
  margin: 10px 0
  box-sizing: content-box
  border-radius: $border-radius-base
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.4)

  .highlight-tool
    display: flex
    align-items: center
    width: 100%
    height: 35px
    padding: 1em
    background-color: #161616
    
    span:not(.language)
      width: 10px
      height: 10px
      border-radius: 50%
      margin-right: 5px
    span:nth-child(1)
      background: red
      animation: flash 5s infinite
    span:nth-child(2) 
      background: sandybrown
      animation: flash 5s 0.2s infinite
    span:nth-child(3)
      background: limegreen
      animation: flash 5s 0.4s infinite

    @keyframes flash
      100% 
        transform: scale(1.1)

    .language
      margin-left: 5px
      font-size: 1.2rem
      font-weight: $blod

    .iconfont
      position: absolute
      font-weight: $blod
      cursor: pointer

    .icon-copy
    .icon-success
    .icon-close
      right: 2.5em

    .icon-success
      color: #60c848

    .icon-close
      color: #e63847

    .icon-chevron-bottom 
      right: 1em
      transform: rotateZ(0deg)
      transition: all 0.5s

    .collapse-btn-rotate
      transform: rotateZ(90deg)

  pre
    overflow-y: hidden
    margin: 0
    padding: 0 0.8em
    transition: all 0.5s

  .hljs 
    display: block
    overflow-x: auto
    // background: #303030
    color: #abb2bf

  .hljs-comment
  .hljs-quote 
    color: #5c6370
    font-style: italic

  .hljs-doctag
  .hljs-keyword
  .hljs-formula
    color: #c678dd

  .hljs-section
  .hljs-name
  .hljs-selector-tag
  .hljs-deletion
  .hljs-subst 
    color: #e06c75

  .hljs-literal
    color: #56b6c2

  .hljs-string
  .hljs-regexp
  .hljs-addition
  .hljs-attribute
  .hljs-meta .hljs-string 
    color: #98c379

  .hljs-attr
  .hljs-variable
  .hljs-template-variable
  .hljs-type
  .hljs-selector-class
  .hljs-selector-attr
  .hljs-selector-pseudo
  .hljs-number 
    color: #d19a66

  .hljs-symbol
  .hljs-bullet
  .hljs-link
  .hljs-meta
  .hljs-selector-id
  .hljs-title
    color: #61aeee

  .hljs-built_in
  .hljs-title .class_
  .hljs-class .hljs-title
    color: #e6c07b

  .hljs-emphasis
    font-style: italic

  .hljs-strong
    font-weight: bold

  .hljs-link
    text-decoration: underline
