@import '_aside'
@import '_prev_next'
@import '_img-preview'

.page-post-container
  flex-box(row, space-between)
  padding: $page-padding
  .post-wrapper
    flex-box(column, flex-start)
    flex: 1
    max-width: 100%
    padding: 25px
    border-radius: 10px
    background: get-css-var("color", "secondary-container-highest")
    color: get-css-var("color", "on-secondary-container")
    .post-header
      flex-box(column)
      width: 100%
      padding-bottom: 10px
      border-bottom: 1px dashed get-css-var("color", "secondary-fixed")

      .post-cover
        width: 100%
        min-height: 120px
        aspect-ratio: 4
        margin-bottom: 20px
        border-radius: $border-radius-base
        object-fit: cover
        background-position: center center

      .post-title 
        margin-bottom: 20px
        // word-break: break-all
        font-size: 2.4rem
        font-weight: $blod

      .post-publish-info-wrapper 
        margin-bottom: 10px
        // font-size: 12px
        span
          font-size: 1.2rem

        .author-avatar 
          size: 48px
          margin-right: 8px
          border-radius: 50%

        .post-info 
          height: 100%

        .category-list
          display: flex
          size: 100% auto
          margin-top: 4px
          .category-list-item 
            display: flex
            align-items: center
            justify-content: center
            margin-right: 2px
            padding: 2px 6px
            background-color: rgba(#6482f8, 0.2)
            border: 1px solid get-css-var("color", "tertiary-0")
            border-radius: 2px
            opacity: 0.8
            transition: all 0.4s
            transform: scale(0.9)
            .category-list-link 
              color: get-css-var("color", "tertiary-0")
              font-size: 1.2rem
          .category-list-item:hover
            background-color: get-css-var("color", "tertiary-0")
            .category-list-link
              color: get-css-var("color", "secondary-20")

    .post-content
      position: relative
      size: 100% auto
      margin: 20px 0
 
    .tags
      display: flex
      size: 100% auto
      margin-bottom: 40px
      .tag 
        display: flex
        align-items: center
        justify-content: center
        margin-right: 10px
        padding: 4px 10px
        border: 1px solid get-css-var("color", "primary-0")
        border-radius: 12px
        background-color: rgba(255, 212, 103, 0.2)
        transition: all 0.4s
        .tag-link
          color: get-css-var("color", "primary-0")
          font-size: 1.2rem
      .tag:hover
        background-color: get-css-var("color", "primary-0")
        .tag-link
          color: get-css-var("color", "on-secondary-container")


@media only screen and (max-width: 500px) 
  .page-post-container .post-wrapper 
    padding: 20px