.bg-wrapper 
  size: auto 100%
  position: fixed
  z-index: -1
  span
    position: absolute
    size: 4px
    border-radius: 50%
    box-shadow: 0 0 8px 4px get-css-var("color", "on-background")
    background-color: rgba(255, 255, 255, 0.7)