.divide
  margin: 40px 0
  border-top: 2px dashed get-css-var("color", "secondary-fixed")
.icon-comment
  font-size: 2rem
  font-weight: $blod
  span
    margin-left: 8px
.comment
  size: 100% auto
  margin-top: 20px
  .vinput, 
  .vbtn
  .vcontent > p
      color: get-css-var("color", "on-secondary-container") !important
  .vinput
    &:focus
      border-color: get-css-var("color", "primary-0") !important
  .vat
  .vnick:hover
    color: get-css-var("color", "primary-0") !important
  .vbtn
    &:hover
      color: get-css-var("color", "primary-0") !important
      border-color: get-css-var("color", "primary-0") !important
  .actived
    fill: get-css-var("color", "primary-0") !important