.page-footer
  flex-box(column, center, center)
  size(auto, 60px)
  p
    text-align: center
    color: $grey-light
    font-size: 1.2rem
    margin-bottom: 6px
    a
      color: $gainsboro
      border-bottom: 1px solid $gainsboro