.page-message-container {
  padding: $page-padding

  .message-wrapper {
    padding: $comment-padding
    margin-top: 30px
    background-color: get-css-var("color", "secondary-container-highest")
    border-radius: $border-radius-base
  }
}