.page-header
  flex-box(row, center, center)
  size: 100% auto
  max-width: 100%
  min-height: 200px
  aspect-ratio: 5
  background-color: rgba(39, 39, 39, 0.7)

  .page-name
    padding: 15px 6%
    border-radius: $border-radius-base
    background-color: $black-deeper
    text-align: center
    font-size: 2.4rem
    font-weight: $blod
    // color: #fc6423

.page__header--custom {
  display: none
}

.mobile {
  @media screen and (max-width: 599px) {
    display: block
  }
}

.pc {
  @media screen and (min-width: 600px) {
    display: block
  }
}

if (hexo-config("page_header.type")) {
  $platforms = join(',', hexo-config("page_header.platforms"))
  if(match("(mobile)", $platforms)) {
    @media screen and (max-width: 599px) {
      .page-header {
        display: none
      }
    }
  }
  if(match("(pc)", $platforms)) {
    @media screen and (min-width: 600px) {
      .page-header {
        display: none
      }
    }
  }
}