.page-header
  flex-box(row, center, center)
  size: 100% auto
  max-width: 100%
  min-height: 200px
  aspect-ratio: 4
  background-color: rgba(210, 210, 210, 0.3)
  box-shadow: inset 0 -5px 5px 1px get-css-var("color", "secondary-fixed-variant")

  .page-name
    padding: 16px 6%
    border-radius: $border-radius-base
    box-shadow: 0 0 12px 1px get-css-var("color", "secondary-fixed")
    border: 1px solid get-css-var("color", "secondary-fixed")
    background-color: get-css-var("color", "secondary-container-highest")
    text-align: center
    font-size: 2.2rem
    font-weight: $blod
    color: get-css-var("color", "primary-0")

.page__header--custom {
  display: none
  padding: 60px 0 20px
}

.mobile {
  @media screen and (max-width: 599px) {
    display: block
  }
}

.pc {
  @media screen and (min-width: 600px) {
    display: block
  }
}

if (hexo-config("page_header.type")) {
  $platforms = join(',', hexo-config("page_header.platforms"))
  if(match("(mobile)", $platforms)) {
    @media screen and (max-width: 599px) {
      .page-header {
        display: none
      }
    }
  }
  if(match("(pc)", $platforms)) {
    @media screen and (min-width: 600px) {
      .page-header {
        display: none
      }
    }
  }
}