.page-project-container
  size(100%, auto)
  padding: $page-padding
  .project-list
    size: auto 100%
    .project-item
      padding: 15px 25px
      background-color: get-css-var("color", "secondary-container-highest")
      border-radius: $border-radius-base
    .project-item:not(:last-child)
      margin-bottom: 20px
