.side-menu-container
  position: fixed
  z-index: 4
  visibility: hidden
  width: 100vw
  height: 100vh
  background-color: rgba(44, 44, 44, 0.7)

  .menu
    position: relative
    size: 280px 100%
    padding: 60px 20px
    background-color: $black

    .category-menu-wrapper
      overflow: hidden
      .menu-item-name
        flex-box(row, space-between)
        padding: 15px
        .iconfont
          flex-box(row, flex-start, center)
          transition: all 0.9s
          transform: rotateZ(0deg)
      .category-menu-list
        max-height: 0
        padding: 0 15px
        transition: all 0.8s
      
    .category-expand 
      .menu-item-name
        .iconfont
          transform: rotateZ(180deg)
      .category-menu-list
        max-height: 500px

    li
      cursor: pointer

    li:not([class~='iconfont'])
      margin-bottom: 10px
      border-radius: 8px
      background-color: $black-deep
      a
        display: block
        padding: 15px 15px


    li:not([class~='category-menu-wrapper']):hover
      background-color: $black-deeper

    .icon-close-circle
      position: absolute
      top: 20px
      right: 20px
      font-size: 2.4rem
