/* pagination */
.pagination 
  display: flex
  justify-content: center
  align-items: center
  margin-top: 20px

.page-num 
  margin: 0 5px

.current 
  size(20px)
  display: inline-block
  border-radius: 2px
  background-color: get-css-var("color", "primary-0")
  color: get-css-var("color", "secondary-20")
  line-height: 20px
  font-size: 1.2rem
  text-align: center

.pagination .iconfont 
  color: get-css-var("color", "on-secondary-container")
  font-weight: $blod

